@import url('https://fonts.googleapis.com/css2?family=Chango&family=Miniver&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400&family=Silkscreen:wght@400;700&display=swap');

body{
    font-family: 'Silkscreen', monospace; 
    color: #ffffff;
    text-align: center;
    background-color: #051522;
}
#board{
    background-color: #001d37;
 }

 